on: push
name: Continuous Integration
jobs:
  test:
    runs-on: ubuntu-latest

    env:
      MIX_ENV: test

    steps:
      - uses: actions/checkout@v6.0.0
      - name: Cache dialyzer plts
        uses: actions/cache@v4
        with:
          path: priv/plts
          key: ${{runner.os}}-${{matrix.otp}}-${{matrix.elixir}}-plts
      - uses: erlef/setup-elixir@v1
        with:
          version-file: ".tool-versions"
          version-type: "strict"
      - name: Deps get
        run: mix deps.get
      - name: Check Credo
        run: mix credo --strict
      - name: Check Formatting
        run: mix format --check-formatted
      - name: Compile Deps
        run: mix deps.compile
      - name: Compile project
        run: mix do compile --warnings-as-errors
      - name: Run Tests
        run: mix test
      - name: Dialyzer
        run: mix dialyzer --halt-exit-status
